---
layout: layouts/notebooks.liquid
pagetitle: Contact Support - GBDX Notebooks
---
{% block content %}

<div style="display: flex; flex-direction: column; flex: 1 1 auto; background-color: rgb(246, 246, 246);">
  <div class="dg-section Support_content__1j4P5">
    <div class="dg-boundary">
      <h2 class="Support_heading__1seZ7">Contact Support</h2>
      <div class="Support_cardWrapper__XqJl5">
        <div class="Support_column__36ce1">
          <div class="Support_card__27XuC">
            <h4>Join Our Slack Community</h4>
            <p><a href="https://gbdxnotebooks.slack.com/" target="_blank" rel="noopener noreferrer"><strong>GBDXnotebooks.slack.com</strong></a><br>If you want to join the conversation with the rest of the community, feel free to join our public
              Slack community. Our development team hangs out in there, along with some of our favorite users of the platform, and now you can join that community as well. We will also let you know about any changes to the platform, tips and tricks,
              and anything else you would care to learn.</p>
            <p><a href="https://join.slack.com/t/gbdxnotebooks/shared_invite/enQtNTMwNTkxMjY3NDI5LTg0MjI4YWViMjMxNWNiMDRlMzZlZDgwN2UxNDBlM2MyNjM2ODIzYTQ1ZGEyNDExMzM1MjdkYjdlY2ZlYjZlMzQ" target="_blank" class="dg-btn dg-btn-primary">Join
                GBDXnotebooks</a> &nbsp;<a href="https://gbdxnotebooks.slack.com/" target="_blank" rel="noopener noreferrer" class="dg-btn dg-btn-primary">Go To GBDXnotebooks</a></p>
          </div>
        </div>
        <div class="Support_column__36ce1">
          <div class="Support_card__27XuC">
            <h4>Email Support</h4>
            <p><a href="mailto:gbdx-support@digitalglobe.com?subject=[GBDX]"><strong>gbdx-support@digitalglobe.com</strong></a><br>Having trouble with GBDX Notebooks or GBDX in general, feel free to reach out to our support team via email. We will
              get back to you as soon as we can.</p>
            <p><a href="mailto:gbdx-support@digitalglobe.com?subject=[GBDX]" class="dg-btn dg-btn-primary">Email Support</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
