<section class="dg-section dg-footer">
  <div class="dg-boundary">
    <div class="dg-footer-link-group">
      <a target="_blank" rel="noopener noreferrer" href="https://www.digitalglobe.com/privacy-policy">Privacy Policy</a>
      <a target="_blank" rel="noopener noreferrer" href="https://signup.geobigdata.io/terms?app_name=gbdx">Terms of Service</a>
      <a target="_blank" rel="noopener noreferrer" href="https://notebooks.geobigdata.io/docs/export_compliance_policy.pdf">Export Compliance Policy</a>
      <a target="_blank" rel="noopener noreferrer" href="https://notebooks.geobigdata.io/hub/support">Contact Support</a>
    </div>
    <div class="dg-footer-copyright">@2019 DigitalGlobe</div>
  </div>
</section>
