<div class="dg-section dg-footer">
  <div class="dg-boundary">
    <div class="dg-footer-link-group">
      <a target="_blank" rel="noopener noreferrer" href="https://www.digitalglobe.com/privacy-policy">Privacy Policy
      </a>
      <a target="_blank" rel="noopener noreferrer" href="https://notebooks.geobigdata.io/docs/export_compliance_policy.pdf">Export Compliance Policy
      </a>
      <a href="/notebooks/support">Slack Channel
      </a>
      <a href="/notebooks/support">Contact Support
      </a>
    </div>
    <div class="dg-footer-copyright">@2019 DigitalGlobe
    </div>
  </div>
</div>
